@model job2.Models.announcement
@{
    ViewBag.Title = "Все деталі";
}

<div>
    <p> title: @Model.Title</p>

    <p> descriptions: @Model.Description</p>
    <p> creation data: @Model.Date_Added</p>
    
</div>





